$font-stack: Helvetica, sans-serif;
$bg-color: #c7e8f7;

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.card {
    border: 3px solid #fff;
    border-radius: 10px;
    background-color: #fff;

}

.card-img {
    height: 80%;
    width: 100%;
}

.card-bio {
    background-color: #fff;

}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;

}

.page-btn {
    width: 30em;
    height: 5em;
    background-color: brown;
    color: #fff;
    font-size: medium;
}